<!-- _includes/nav.html -->
<nav class="sidebar">
  <a class="sidebar-brand" href="{{site.baseurl}}/">Course Showcase</a>
  <ul class="sidebar-nav">
    <!-- Section 1 -->
    <li class="sidebar-section">
      <span>Section 1</span>
      <ul class="sidebar-subnav">
        <li><a href="{{site.baseurl}}/essays/section-1/essay-1">Essay 1</a></li>
        <li><a href="{{site.baseurl}}/essays/section-1/essay-2">Essay 2</a></li>
        <li><a href="{{site.baseurl}}/essays/section-1/essay-3">Essay 3</a></li>
      </ul>
    </li>
    <!-- Section 2 -->
    <li class="sidebar-section">
      <span>Section 2</span>
      <ul class="sidebar-subnav">
        <li><a href="{{site.baseurl}}/essays/section-2/essay-1">Essay 1</a></li>
        <li><a href="{{site.baseurl}}/essays/section-2/essay-2">Essay 2</a></li>
        <li><a href="{{site.baseurl}}/essays/section-2/essay-3">Essay 3</a></li>
      </ul>
    </li>
    <!-- Section 3 -->
    <li class="sidebar-section">
      <span>Section 3</span>
      <ul class="sidebar-subnav">
        <li><a href="{{site.baseurl}}/essays/section-3/essay-1">Essay 1</a></li>
        <li><a href="{{site.baseurl}}/essays/section-3/essay-2">Essay 2</a></li>
        <li><a href="{{site.baseurl}}/essays/section-3/essay-3">Essay 3</a></li>
      </ul>
    </li>
    <!-- Section 4 -->
    <li class="sidebar-section">
      <span>Section 4</span>
      <ul class="sidebar-subnav">
        <li><a href="{{site.baseurl}}/essays/section-4/essay-1">Essay 1</a></li>
        <li><a href="{{site.baseurl}}/essays/section-4/essay-2">Essay 2</a></li>
        <li><a href="{{site.baseurl}}/essays/section-4/essay-3">Essay 3</a></li>
      </ul>
    </li>
  </ul>
</nav>
